<% msg = 'If you use the custom brackets, they must both be present.' %>

<h1>Test your string for matching brackets ([], {}, (), <>)</h1>

<% if params[:m] == 'msg' %>
<h3><%= msg %></h3>
<% end %>
<%= form_tag :action => 'match_brackets' do %>
	
<%= text_field_tag 'str', '', :size => '54' %>	
<p>
Optional: enter your own custom brackets
<br>
Left bracket: <%= text_field_tag 'custom_left', '', :size => '1', :maxlength => '1'%>

Right bracket: <%= text_field_tag 'custom_right', '', :size => '1', :maxlength => '1'%>

<p>

<%= submit_tag 'Check brackets' %>
	
	
<% end %>